		<div id="subHeader">
			<div id="breadcrumb">
				<ul class="rsl_ul">
					<li>Notice Details</li>
					<li>Confirmation</li>
					<li>Amounts</li>
					<li>Finish</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="steps">
					<noscript>
						<br />
						<p>
							For full functionality of this site it is necessary to enable JavaScript.<br />
							Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions</a> how to enable JavaScript in your web browser.
				 		</p>
					</noscript>
				<div id="messages" class="infoText"></div>
			</div>
		</div>
		<script>
			// Assign the step/pages to an array - not ideal but if all the steps are loaded
			// at run-time then the screen flickers as the later pages are displayed and then 
			// quickly hidden. Doing it this way means that the first page can be defined and
			// then displayed, followed by the definitions for the next pages, which do not have
			// to be displayed - thus no flicker.
			// Could probably have done without putting the definition for step0 in an array
			// and just put it in the normal HTML of the page, but this way it is all uniform
			var steps = new Object();
			steps[0] =	'<div id="step0" class="step">' +
							'<form id="form0"> ' +
								'<label class="rsl_label" for="number">Notice Number:&nbsp;&nbsp;</label>' +
								'<input class="rsl_input" id="ticketnumber" type="text" name="number">' +
								'<span id="digitnotice" class="example"></span>' + 
								'<span class="example block-example">For example, if your notice says TPEUFN123456789,<br />' +
								'then enter 123456789</span>' +
								'<br />' +
								'<label class="rsl_label" for="lastname">Last Name:&nbsp;&nbsp;</label>' +
								'<input class="rsl_input" type="text" id="lastname" name="lastname">' +
								'<span class="example">as it appears on the notice.</span>' + 
								'<br />' +
								'<span class="example block-example">For example: Peterson</span>' +
								'<br />' +
								'<br />' +
							'</form>' +
						'</div> ';

			// Having defined the first step, now add it to the page and show it,
			// but only if there is not another page to be displayed in it's place
			if ( getUrlParam.page === undefined ) {
				$($.parseHTML(steps[0])).insertBefore('#messages');
			}
			//$(steps[0]).show();

			// Secondary page definitions, saved for later use.
			steps[1] =	'<div id="step1" class="step">' +
							'<form id="form1">' +
								'<label class="rsl_label" for="number">Notice Number:</label>' +
								'<input class="rsl_input" type="text" name="number" class="readonly" readonly><br />' +
								'<label class="rsl_label" for="lastname">Last Name:</label>' +
								'<input class="rsl_input" type="text" name="lastname" class="readonly" readonly><br />' +
								'<label class="rsl_label" for="date">Date of Offence:</label>' +
								'<input class="rsl_input" type="text" name="date" class="readonly" readonly><br />' +
								'<span id="confirmFrom">' +
									'<label class="rsl_label" for="from">From:</label>' +
									'<input class="rsl_input" type="text" name="from" class="readonly" readonly><br />' +
								'</span>' +
								'<span id="confirmTo">' +
									'<label class="rsl_label" for="to">To:</label>' +
									'<input class="rsl_input" type="text" name="to" class="readonly" readonly><br />' +
								'</span>' +
								'<span id="confirmAt">' +
									'<label class="rsl_label" for="at">At:</label>' +
									'<input class="rsl_input" type="text" name="location" class="readonly" readonly><br />' +
								'</span>' +
								'<input class="rsl_input" type="hidden" name="cancollect" id="cancollect">' +
							'</form>' +
							'<br />' +
							'<p class="largeText">Please confirm from the details printed on the <span id="confirmText">Notice</span> or select \'Restart\' to go back to the beginning.</p>' +
							'<p id="flipOver" class="flipoverText"></p>' +
						'</div>';

			steps[2] =	'<div id="step2" class="step">' +
							'<span class="largeText">You currently owe this amount:</span><br />' +
							'<form id="form2">' +
								'<label class="rsl_label" for="fine">Fare:</label>' +
								'<input class="rsl_input" type="text" name="fine" class="readonly" readonly><br />' +
								'<label class="rsl_label" for="admin">Admin:</label>' +
								'<input class="rsl_input" type="text" name="admin" class="readonly" readonly><br />' +
								'<label class="rsl_label" for="owed">Amount Owed:</label>' +
								'<input class="rsl_input" id="owed" type="text" name="owed" class="readonly" readonly><br />' +
								'<input class="rsl_input" type="hidden" name="id" id="id">' +
							'</form>' +
							'<br />' +
							'<p class="largeText">Please note that payment will only be accepted if the full amount shown is paid.</p>' +
						'</div>';

			steps[3] = 	'<div id="step3" class="step">' +
							'Connecting to payment service...' +
							'<form id="form3" method="post"> ' +
								'<input class="rsl_input" type="hidden" name="PSPID">' +
								'<input class="rsl_input" type="hidden" name="SHASIGN">' +
								'<input class="rsl_input" type="hidden" name="AMOUNT">' +
								'<input class="rsl_input" type="hidden" name="ORDERID">' +
								'<input class="rsl_input" type="hidden" name="LANGUAGE">' +
								'<input class="rsl_input" type="hidden" name="CURRENCY">' +
								'<br />' +
							'</form>' +
						'</div>';

			steps.accept = 
						'<div id="stepaccept" class="final">' +
							'<div id="printHref" class="printDiv finalText">' + printHeaderHref + '</div>' +
							'<div id="printDate" class="printDiv finalText">' + printHeaderDate + '</div>' +
							'<p class="finalText">Your payment has been accepted.</p>' +
							'<p class="finalText">Notice ' + getUrlParam.number + ' has now been fully paid and has been closed.</p>' +
							'<p class="finalText">You can consider this matter closed.</p>' +
							'<p class="finalText">Your transaction reference is:</p>' +
							'<p class="finalText">' + getUrlParam.ref + '</p>' +
							'<p class="finalText"></p>' +
						'</div>';

			steps.error =
						'<div id="steperror" class="final">' +
							'<div id="printHref" class="printDiv finalText">' + printHeaderHref + '</div>' +
							'<div id="printDate" class="printDiv finalText">' + printHeaderDate + '</div>' +
							'<p class="finalText">Your payment cannot be taken at this time due to technical issues. ' +
							'The error returned while taking payment was as follows:</p>' +
							'<p class="finalText errorText">' + getUrlParam.message + '</p>' +
							'<p class="finalText">Notice \'' + getUrlParam.number + '\' still remains unpaid and will continue through the debt recovery process.</p>' +
							'<p class="finalText">Please try again later.</p>' +
							'<p class="finalText">Your transaction reference is:</p>' +
							'<p class="finalText">' + getUrlParam.ref + '</p>' +
						'</div>';

			steps.cancel =
						'<div id="stepcancel" class="final">' +
							'<div id="printHref" class="printDiv finalText">' + printHeaderHref + '</div>' +
							'<div id="printDate" class="printDiv finalText">' + printHeaderDate + '</div>' +
							'<p class="finalText">The payment process has been cancelled. ' +
							'<p class="finalText errorText">' + getUrlParam.message + '</p>' +
							'<p class="finalText">The Notice still remains unpaid and will continue through the debt recovery process.</p>' +
							'<p class="finalText">Please use the \'Restart\' button to retry the payment ensuring you enter all the details correctly. ' +
						'</div>';

			steps.decline =
						'<div id="stepdecline" class="final">' +
							'<div id="printHref" class="printDiv finalText">' + printHeaderHref + '</div>' +
							'<div id="printDate" class="printDiv finalText">' + printHeaderDate + '</div>' +
							'<p class="finalText">Your payment cannot be taken at this time due to the card details being declined. ' +
							'The error returned while taking payment was as follows:</p>' +
							'<p class="finalText errorText">' + getUrlParam.message + '</p>' +
							'<p class="finalText">The Notice still remains unpaid and will continue through the debt recovery process.</p>' +
							'<p class="finalText">Please use the \'Restart\' button to retry the payment ensuring you enter all the details correctly. ' +
							'<p class="finalText">Your transaction reference is:</p>' +
							'<p class="finalText">' + getUrlParam.ref + '</p>' +
						'</div>';

		</script>

		<div id="buttonHolder">
			<div id="buttons">
				<span class="infoText">Please ensure you have the Notice ready before making a payment.<br />
					The last name and Notice number you enter should be exactly<br />
					the same as those printed on the Notice.<br />
					For Unpaid Fare Notices the amount due may also include administration fees<br />
					if payment is not made within 21 days from the date of issue<br />
					(please note 21 days includes the date of issue).<br />
					Please note payment will not be accepted unless the full amount shown is paid.<br />
				</span>
				<button id="nextButton" disabled="true">Next</button>
				<span id="PayPalButton" style="display: none;"></span>
				<br />
			</div>
		</div>

		<div id="footer">
			<span id="version" class="version"></span>
			<a href="http://www.raspberrysoftware.com">&copy;2014-2017 Raspberry Software Systems Limited</a>
		</div>
