/*
 *
 * TransPennine Express Stylesheet
 *
 */

/*
body, td, th, select, input, div, button, textarea
{
    font-family: Gotham,Arial,sans-serif;
	font-size: 15px;
}

body
{
	width: 650px;
	margin: auto;
	background-color: #ffffff;
	margin-top: 15px;
}
*/

td, th, select, input, div, button, textarea
{
    font-family: Gotham,Arial,sans-serif;
	font-size: 15px;
}

/*
div.rsl_div
{
	margin: 0px 10px 0px 10px;
	padding: 10px 5px;
	text-align: center;
	background-color: #ffffff;
}
*/

div.step
{
	margin-left: 0px;
	margin-right: 0px;
}

div#header
{
	padding: 0px 5px 0px 5px;
	background-color: #ffffff;
}

div#HeaderTitle
{
	padding: 20px 5px;
}

div#header h1
{
	margin: 8px 0px;
    font-family: Gotham,Arial,sans-serif;
	font-size: 28px;
}

div#footer
{
	border-top: 5px solid #00a6e6;
	background-color: #1e234f;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	padding: 0px;
}

div#subHeader
{
	padding: 10px 5px 10px 5px;
	clear: both;
}

div#footer
{
	padding: 10px;
	color: white;
}

div#footer a
{
	text-decoration: none;
	color: white;
}

div#breadcrumb
{
	border-top: 5px solid #00a6e6;
	background-color: #1e234f;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
}

div#steps
{
	padding: 0px;
	margin-bottom: 0px;
	border: 8px solid #8c8c8c;
	border-radius: 5px 5px 0px 0px;
}

div#content
{
	padding-top: 0px;
	padding-bottom: 0px;
}

div#buttonHolder
{
	padding-top: 0px;
}

div#buttons
{
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #8c8c8c;
	border-radius: 0px 0px 5px 5px;
	text-align: center;
}

div#nextStep
{
	margin-top: 0px;
	padding-top: 0px;
}

div#footer
{
	margin: 0px;
	margin-top: 10px;
	font-size: 80%;
	text-align: center;
}

div#printHref, div#printDate
{
	display: none;
}

div#messages
{
	margin: 0px;
	padding: 10px;
	height: 60px;
	text-align: center;
}

div.info, div.final
{
	overflow: auto;
}

form
{
	text-align: left;
}

.tandcText
{
	font-size: 100%;
	color: #000000;
	text-align: left;
}

h1.tandcText
{
	font-size: 110%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

h2.tandcText
{
	margin-bottom: 0px;
}

p.tandcText
{
	margin-top: 0px;
}

div.printDiv
{
	display: none;
}

.infoText
{
	font-size: 100%;
	color: #ffffff;
}

.largeText
{
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 15px;
}

p.finalText
{
	margin: 12px;
	font-size: 100%;
}

.errorText
{
	font-size: 120%;
	color: red;
}

.example
{
	width: 100%;
	margin: auto 3px;
	text-align: left;
	font-size: 80%;
}

.block-example
{
	display: block;
	margin-left: 210px;
	color: #ff4f4f;
}

.flipoverText
{
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	font-weight: bold;
}

.version
{
	float: left;
	font-size: 90%;
	margin-top: 10px;
}

button.rsl_button
{
	margin: 10px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	width: auto;
	background-color: #f2f2f2;
}

#PayPalButton
{
	height: 15px;
}

ul.rsl_ul
{
	list-style-type: none;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

ul.rsl_ul li
{
	margin: 30px;
	display: inline;
}

li.currentStep
{
	color: #00a6e6;
	font-weight: bold;
}

label.rsl_label
{
	display: inline-block;
	width: 199px;
	text-align: right;
	font-weight: bold;
	color: black;
}

input.rsl_input, select.rsl_select
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 2px;
	width: 187px;
	color: #000000;
	background-color: #ecfde3;
	border-color: #95c1e3;
	padding: 0px;
	display: inline;
}

input.rsl_input
{
	padding-left: 2px;
	height: 18px;
	border: 2px;
	border-style: inset;
}

select.rsl_select
{
	width: 191px;
	height: 18px;
}

div#mandatorymessage
{
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: right;
}

.mandatory
{
	text-align: right;
	color: red;
}

.readonly
{
	background-color: #e0e0e0;
}
