/*
 *
 * $Id: formPrint.css,v 1.1 2014-07-30 11:55:33 gary Exp $
 *
 */

body, td, th, select, input, div, button, textarea
{
    font-family: "segoe ui","Lucida Sans Unicode","Lucida Grande",Tahoma,Geneva,Arial,sans-serif;
	font-size: 12px;
}

body
{
	width: auto;
	margin: auto;
	margin-top: 15px;
}

div
{
	margin: 0px 10px 0px 10px;
	padding: 10px 5px;
	text-align: center;
	background-color: #ffffff;
}

div.step
{
	margin-left: 0px;
	margin-right: 0px;
}

div#header, div#footer
{
	padding: 0px;
	background-color: #404067;
	text-align: right;
	display: none;
}

div#printHref
{
	float: left;
}

div#printDate
{
	text-align: right;
}

div#header
{
	height: 90px;
}

div#header img
{
	margin-top: 35px;
	vertical-align: bottom;
}

div#footer
{
	padding: 10px;
	color: white;
}

div#footer a
{
	text-decoration: none;
	color: white;
}

div#breadcrumb
{
	background-color: #d4e3f0;
	border-radius: 5px 5px 5px 5px;
	display: none;
}

div#steps
{
	padding: 0px;
	margin-bottom: 0px;
	border: none;
}

div#content
{
	padding-top: 0px;
	padding-bottom: 0px;
}

div#buttonHolder
{
	padding-top: 0px;
	display: none;
}

div#buttons
{
	padding-top: 0px;
	background-color: #d8d8d8;
	border-radius: 0px 0px 5px 5px;
}

div#nextStep
{
	margin-top: 0px;
	padding-top: 0px;
}

div#footer
{
	font-size: 80%;
}

div#messages
{
	margin: 0px;
	padding: 0px;
	height: 18px;
}

div.info, div.final
{
	overflow: visible;
}

form
{
	text-align: left;
}

.tandcText
{
	font-size: 100%;
	color: #024c68;
	text-align: left;
}

h1.tandcText
{
	font-size: 110%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

h2.tandcText
{
	margin-bottom: 0px;
}

p.tandcText
{
	margin-top: 0px;
}

.infoText
{
	font-size: 100%;
	color: #024c68;
}

.largeText
{
	font-size: 120%;
}

p.finalText
{
	margin: 12px;
	font-size: 200%;
}

.errorText
{
	font-size: 120%;
	color: red;
}

.example
{
	width: 100%;
	margin: auto 12px;
	text-align: left;
	font-size: 100%;
	color: #666666;
}

.version
{
	float: left;
	font-size: 90%;
	margin-top: 10px;
}

button#backButton, button#nextButton, button#cancelButton
{
	margin: 10px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	width: auto;
	background-color: #f2f2f2;
}

ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li
{
	margin: 30px;
	display: inline;
}

li.currentStep
{
	font-weight: bold;
}

label
{
	display: inline-block;
	width: 187px;
	text-align: right;
	font-weight: bold;
}

input, select
{
	margin: 10px;
	margin-bottom: 0px;
	margin-right: 2px;
	width: 187px;
	color: #024c68;
	background-color: #ecfde3;
	border-color: #95c1e3;
}

input
{
	margin-left: 12px;
	padding-left: 2px;
	height: 16px;
}

select
{
	width: 191px;
	height: 18px;
}

div#mandatorymessage
{
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: right;
}

.mandatory
{
	text-align: right;
	color: red;
}

.readonly
{
	background-color: #e0e0e0;
}
