		<script src="jquery-1.11.0.min.js"></script>
		<script src="form.js"></script>

		<!-- PayPal library -->
		<script src="https://www.paypalobjects.com/api/checkout.js"></script>
		<script src="ppsetup.js"></script>

		<link href="form.css" type="text/css" rel="stylesheet" media="screen">
		<link href="formPrint.css" type="text/css" rel="stylesheet" media="print">
		<script>
			var getUrlParam = function() { var params = {}; if (location.search) { var parts = location.search.substring(1).split('&'); for (var i = 0; i < parts.length; i++) { var nv = parts[i].split('='); if (!nv[0]) continue; params[nv[0]] = decodeURIComponent(nv[1]) || true; } } return params; }();
			var printHeaderHref = location.href.split('?')[0];
			var printHeaderDate = Date().slice(0,-15);
		</script>
