<!-- $Id: Privacy.html,v 1.3 2014-07-29 14:52:08 gary Exp $ -->
<h1 class="tandcText">Southeastern Website Privacy Policy</h1>

<p class="tandcText">Southeastern is committed to protecting your privacy. This privacy policy explains Southeastern’s data processing practices and how Southeastern uses visitor information or personal data. Before providing us with your details, please read the following important information.</p>
<h2 class="tandcText">Consent</h2>

<p class="tandcText">By using the Southeastern website and its services, you consent to the collection and use of the information for the purposes set out below.</p>
<h2 class="tandcText">Collection of Visitor Information</h2>

<p class="tandcText">We will only use the information that we collect about you lawfully, in accordance with the Data Protection Act 1998.</p>

<p class="tandcText">The details you provide about yourself and any other information which identifies you (‘Personal Information’) is held by Southeastern on this website (the "Site") for operational purposes, for example member registration or processing payments. We may also use your Personal Information to personalise your experience on the Site by informing you of new products or services that we may think are of interest to you.</p>

<p class="tandcText">Southeastern gathers general information about users, for example, what services users access the most and which areas of the Southeastern site are most frequently visited. Such data is used in the aggregate to help us to understand how the Southeastern site is used. We gather this information so that we can continue to improve and develop our services to benefit of our users. We may make this aggregated information available to users of the Southeastern site and also to auditors. These statistics are anonymous and contain no personal information and cannot be used to gather such information.</p>

<p class="tandcText">When you register with Southeastern, set up a travel alert, enter a competition, or buy a ticket, we ask for personal information such as your name, date of birth, contact details, and other details. Once you register with Southeastern and accept our Terms & Conditions, you are not anonymous to us. We may use information that you provide to alert you to our own products and services. We may contact you regarding site changes or changes to the Southeastern products or services that you use.</p>

<p class="tandcText">If you buy a ticket online with Southeastern, we will record your personal details and send you a confirmation email. Your personal data will be used principally to communicate with you with reference to your request.</p>

<p class="tandcText">You may opt-in to receive newsletters, exclusive discounts, special offers and other marketing emails from Southeastern. You may opt-out at any time by clicking the "unsubscribe" option on any email sent by Southeastern.</p>

<p class="tandcText">Alternatively email us or write to Southeastern Customer Services, PO Box 63428, LONDON, SE1P 5FD or telephone us on 0845 000 2222.</p>

<p class="tandcText">From time to time Southeastern will provide your Personal Information to carefully selected and necessary third party service providers when you reserve or purchase travel services or for the purposes of market research. Whenever we do transfer your personal information, we take reasonable steps to ensure that your information is treated securely and in accordance with this privacy statement. Southeastern will never sell your data to any third party for direct marketing purposes.</p>

<p class="tandcText">Please note that making use of our services will be deemed by us to signify explicit consent on your part to the transfer of personal information, where this is necessary for us to provide services to you or to perform a contract with you.</p>
<h2 class="tandcText">Disclosure of personal information</h2>

<p class="tandcText">We do not disclose information about your individual visits to the Southeastern site, or personal information that you provide, such as your name and personal contact details unless you have given us your permission or we believe that the law requires it.</p>
<h2 class="tandcText">Hyperlinks</h2>

<p class="tandcText">We may provide hyperlinks from the Site to websites of third parties. No liability is accepted for the contents of any site operated by a third party which may be accessed via links from the Site. These links are provided for your convenience only and do not imply that Southeastern approves or recommends the content of such sites. We encourage our users to be aware when they leave our site to read the privacy statements of each and every website that collects personally identifiable information. This Privacy Policy applies solely to information collected by Southeastern.</p>
<h2 class="tandcText">Information requests and updates</h2>

<p class="tandcText">Please be assured that Southeastern is happy, on request from you, to provide details of any personal information that you have provided us with (this may incur a small charge) and/or to cease to make use of your personal information for the above-mentioned purposes.</p>

<p class="tandcText">As we take the issue of protecting your personal data seriously, we follow strict storage and disclosure procedures which means that we may occasionally require proof or identity from you prior to disclosing such information.</p>

<p class="tandcText">So that we may provide you with an optimum service and comply with its obligations under UK Data Protection legislation, we would be grateful if you could please contact us by going to the feedback page if any personal information that you have provided to us becomes inaccurate or out of date.</p>
<h2 class="tandcText">Security</h2>

<p class="tandcText">Southeastern is committed to the security of personal information and has security procedures in place to protect the loss, misuse or alteration of information under our control.</p>

<p class="tandcText">Access to our database containing personal information on registered users of the site is restricted internally. In order to increase security we ask you to input a password when you register as a user of the site. Please keep this password secret. In addition, we encrypt your financial information using SSL (Secure Sockets Layer) technology so that no one else can access your credit card details as they travel through the Internet. SSL is certified by Verisign and is recognised as a secure way to pay on-line. As you may be aware, no data transmission over the Internet can be entirely secure. As a result, while we will always use reasonable endeavours to protect the personal information you provide to us, we cannot guarantee the security of your information and the use of our facilities (eg e-mail) is at your own risk. If you have any questions about paying for your ticket through the Site, please contact Customer Services.</p>
<h2 class="tandcText">Changes to this policy</h2>

<p class="tandcText">We reserve the right to change our Privacy Policy and our Terms and Conditions at any time. If we make changes, we will post them on this page and indicate page the policy's new effective date at the bottom of this page. We encourage you to refer to this policy on an ongoing basis so that you understand our current privacy policy. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account. By providing us with your email address, you expressly allow Southeastern to respond to you via your email address.</p>
