<!-- $Id: TsAndCs.html,v 1.3 2014-07-29 14:52:08 gary Exp $ -->
<h1 class="tandcText">Terms and conditions</h1>
<h2 class="tandcText">Use of this website</h2>
<p class="tandcText">Please read the following terms and conditions carefully before continuing to use this web site. If you do not agree with the terms you should not use this website (the ‘Site’).</p>

<p class="tandcText">The information contained in the Site concerns services and information in relation to London & South Eastern Railway Limited ("Southeastern") only.</p>

<p class="tandcText">These Terms (including any amendments made by Southeastern) constitute the agreement upon which you are entitled to access and use the Site and will continue in force until such time as either you or we terminate the agreement between us.</p>

<p class="tandcText">The Site is intended to be accessed or used by users in the UK only and no representation or warranty is made as to whether the information available in the Site complies with the regulatory regime of any other countries from which the pages in the Site are accessed.</p>

<h2 class="tandcText">Intellectual property</h2>
<p class="tandcText">Unless otherwise stated, any intellectual property rights arising in respect of the Site's design, text, graphics, its selection and arrangement, software and all other material (the 'Content') on or in the Site belong to Southeastern and/or its licensors. Any use of such intellectual property rights or software is strictly prohibited except where expressly allowed under these Terms.</p>

<p class="tandcText">Permission is hereby granted to electronically copy and store (but not on any server or other storage device connected to a network) and print individual pages of the Content on paper (but not photocopy them) from the Site only for the purpose of your private and personal non-commercial use. You may also permit your computer to make an electronically stored, transient copy of the Content for the purpose of viewing it while connected to the Internet only. However you may only make one copy of the Content. Any other use of the Content, including reproduction for purposes other than that hereby authorised (including the removal of copyright or trade mark notices), creation of an electronic or manual database by systematically downloading and storing the Content, distribution (whether electronically or not) or republication is prohibited.</p>

<p class="tandcText">Any requests for permission to use the Content in a manner otherwise than permitted by these Terms should be addressed to us via our Feedback page.</p>

<p class="tandcText">Southeastern's logo and the name ‘Southeastern’ are UK trademarks. You are not permitted to use or reproduce or allow anyone else to use or reproduce these trademarks for any reason.</p>

<h2 class="tandcText">Unauthorised access by third parties</h2>
<p class="tandcText">It is possible that third parties such as 'hackers' or 'crackers' may access the Site and alter its contents. Southeastern will not be liable for any damages or loss arising out of or in connection with such unauthorised access. Southeastern excludes all liability in respect of any unauthorised access to the fullest extent permitted by law.</p>

<h2 class="tandcText">Advertisements</h2>
<p class="tandcText">The Site may contain material, including advertising and sponsorship, which originates from third parties. Southeastern excludes, to the extent permitted by law, all liability for any illegality arising from or error, omission or inaccuracy of such material or failure to comply with any relevant law or regulation. It is the responsibility of such third parties to ensure that such material complies with all relevant laws and regulations.</p>

<h2 class="tandcText">Hyperlinks</h2>
<p class="tandcText">We provide hyper-links from our site to web sites of third parties including other train operators. Please note that we have no control over and are not responsible for the content of linked web sites and accordingly make no warranty or representation as to their contents. Southeastern provides these links for your convenience only but does not necessarily endorse the material on those web sites nor are we in any way responsible for any transaction conducted between you and any such third parties to whose web site we provide a link. You proceed to these web sites at your own risk.</p>

<h2 class="tandcText">Disclaimer</h2>
<p class="tandcText">Southeastern makes no express or implied warranty as to:</p>

<p class="tandcText">*The information accessible via the Site being accurate, complete, fit for any particular purpose or current. </p>
<p class="tandcText">*The Content being free from infection by viruses or anything else that has contaminating or destructive properties. </p>
<p class="tandcText">*The operation, quality, functionality, accessibility of the Site. </p>
 
<p class="tandcText">The information on the Site is provided 'as is' and 'as available'. It is for information purposes only and Southeastern does not hold itself out as providing any advice or recommendation of whatsoever nature and you should not rely on any information on the Site to make (or refrain from making) any decision or take (or refrain from taking) any action. In particular, while Southeastern makes every effort to ensure that the information contained on the Site is accurate, Southeastern cannot warrant and does not take responsibility for the accuracy of the information displayed on the Site. In particular passengers need to check the up to date train timetable information at the appropriate station.</p>

<p class="tandcText">Southeastern shall, unless specifically stated otherwise, not be liable, including liability for negligence (except for personal injury or death) for any damages or loss arising out of or in connection with the use of the Site including (but not limited to) direct or indirect consequential loss, special loss, loss of data, income or profit, loss of or damage to property, damage to goodwill and claims of third parties whether resulting from use of or inability to use the Site or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure even if Southeastern or its employees or agents are advised of the possibility of such damages or losses.</p>

<p class="tandcText">All warranties, conditions, undertakings, representations, terms or other liabilities whether express or implied, statutory or otherwise (if any) arising out of or in connection with use of (or inability to use) the Site or any material on the Site or any action or decision taken as a result of using the Site or any material on it is hereby excluded to the fullest extent permitted by law and in any event Southeastern's maximum liability shall be limited in respect of any one incident or a series of two or more connected incidents to an amount equal to the cover provided to Southeastern under its policies of insurance.</p>

<p class="tandcText">You hereby agree to fully indemnify Southeastern against any claim brought by a third party resulting from use of the Site by you and in respect of all losses, costs, actions, proceedings, claims, damages, expenses (including reasonable legal costs and expenses), or liabilities, whatsoever suffered or incurred directly by Southeastern in consequence of your breach or non-observance of these Terms.</p>

<p class="tandcText">In addition, you shall defend and pay all costs, damages, awards, fees (including any reasonable legal fees) and judgements awarded against Southeastern arising from any claims and shall provide Southeastern with notice of such claims, full authority to defend, compromise or settle such claims and reasonable assistance necessary to defend such claims at your own expense.</p>

<p class="tandcText">You confirm that you are at least 18 years old and there is no reason why you should not legally enter into a Contract with us and/or use the Site in accordance with all the terms and conditions contained within it. You agree to be financially responsible for all of your use of the Site (as well as for use of your account by others, including without limitation minors living with you).</p>

<p class="tandcText">You agree to use the Services only to make legitimate purchases for yourself or on behalf of another person for whom you are legally authorised to act. You accept that abuse of the Services may result in you being denied access to the Services.</p>

<h2 class="tandcText">Illegal use</h2>
<p class="tandcText">You may only use the Site for lawful purposes. You must not illegally transmit, distribute or store any material or violate any applicable regulation. This includes, without limitation, material which is protected by copyright, trademark, trade secret or intellectual property right which you use without permission.</p>

<p class="tandcText">You may not circumvent or attempt to circumvent Southeastern's security (referred to as 'cracking' or 'hacking').</p>

<p class="tandcText">In the interests of all our users, Southeastern will co-operate with investigations by any law enforcement or relevant authorities of suspected criminal activity or violation of systems or network.</p>

<p class="tandcText">Any breach of these Terms shall entitle Southeastern to immediately terminate your use of the Site and/or the agreement between us without notice.</p>

<h2 class="tandcText">Privacy</h2>
<p class="tandcText">We take the issue of data protection very seriously. Our policy is set out in our Privacy Statement. We may collect information about you while you browse the Site if you are a registered user of the Site. So that we may comply with our obligations under Data Protection legislation, you are required to read and agree to the Privacy Statement before providing us with any information about yourself. Failure to do so is a breach of these Terms.</p>

<p class="tandcText">It is your responsibility to make sure that information which we hold about you is up to date and accurate. Failure to do so will be a breach of these Terms.</p>

<h2 class="tandcText">Bookings</h2>
<p class="tandcText">All ticket purchases are subject to Southeastern’s terms and conditions and the National Rail Conditions of Carriage. You are strongly advised to read these conditions which contain limitations and exclusions relating to our liability in respect of loss caused by delays or cancellations. Once you have received your tickets it is your responsibility to check that the tickets issued are accurate. We are only responsible for issuing tickets in accordance with your instructions.</p>

<h2 class="tandcText">Changes</h2>
<p class="tandcText">We pride ourselves on keeping up to the minute in terms of advances in technology and legal developments. As these areas are changing at an ever increasing rate, we request that you refer to the Site on a regular basis in order to ensure that you are aware of our most recent Terms, Privacy Statement terms and other policies.</p>

<p class="tandcText">Southeastern reserves the right to modify, add to or change these Terms, our Privacy Statement, Conditions of Sale and any other policies at any time and any such modifications, additions or changes will be effective immediately on being posted to the Site. It is your responsibility to make sure that you are aware of any such modifications, additions or changes and you will be deemed to have accepted them if you access the Site after any modifications, additions or changes have been made.</p>

<p class="tandcText">We will do our best to ensure that the Site is what we believe to be relevant, up to date and as interesting as possible and we accordingly reserve the right, at our discretion, to make changes to any part of the Site.</p>

<h2 class="tandcText">Governing law and disputes</h2>
<p class="tandcText">This Agreement is deemed to have been made in England and is governed by English Law. Any dispute relating to this Agreement shall be referred to the English Courts.</p>

<p class="tandcText">For the exclusive benefit of Southeastern, Southeastern retains the right to bring proceedings in the courts of the country of your residence or your principal place of business.</p>

<h2 class="tandcText">Legal identity</h2>
<p class="tandcText">London & South Eastern Railway Limited is a company registered in England (No. CN 4860660) whose registered office is at 3rd Floor, 41-45 Grey Street, Newcastle upon Tyne, NE1 6EE.</p>

<h2 class="tandcText">General</h2>
<p class="tandcText">You may not assign, sub-license or otherwise transfer any of your rights under these Terms.</p>

<p class="tandcText">These Terms can not be varied except in writing by Southeastern. Nothing said by any employee or agent of Southeastern will be capable of varying these Terms.</p>

<p class="tandcText">If any provision in these Terms is found to be invalid by any court having competent jurisdiction, the invalidity of that provision will not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect.</p>

<p class="tandcText">Failure by either party to exercise any right or remedy under these Terms does not constitute a waiver of that right or remedy. Headings in these Terms are for convenience only and will have no legal meaning or effect.</p>

<p class="tandcText">The parties do not intend any of these clauses to be enforceable pursuant to the Contracts (Rights of Third Parties) Act 1999.</p>

<p class="tandcText">These terms, the National Conditions of Carriage and any specific terms and conditions constitute the entire agreement between the parties.</p>
